* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: white; }

.cabecera {
  width: 100%;
  height: 400px; }
  .cabecera__parte1 {
    width: 100%;
    height: 200px;
    background: #515453;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .cabecera__parte1 img {
      position: absolute;
      margin-top: 100px;
      width: 250px;
      height: 250px;
      margin-bottom: 10px; }
    .cabecera__parte1__nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      width: 100%;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-bottom: 180px;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .cabecera__parte1__nav a {
        text-decoration: none;
        color: #16D6BC;
        font-family: 'Questrial', sans-serif;
        font-size: 1.2em; }
        .cabecera__parte1__nav a:hover {
          color: white;
          cursor: pointer;
          text-shadow: 2px 2px 4px #000000; }
      @media (max-width: 460px) {
        .cabecera__parte1__nav {
          margin-right: 20px; } }
  .cabecera__parte2 {
    width: 100%;
    height: 280px;
    background: #16D6BC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .cabecera__parte2 h2 {
      text-align: center;
      font-size: 3em;
      color: #515453;
      font-family: 'Righteous', cursive;
      margin-bottom: 2px; }
    .cabecera__parte2 p {
      text-align: center;
      font-family: 'Questrial', sans-serif;
      color: #515453;
      font-size: 1.5em; }

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 20px; }
  .skills h1 {
    text-align: center;
    color: #515453;
    font-size: 2.5em;
    font-family: 'Righteous', cursive; }
  .skills__info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .skills__info__about {
      width: 50%;
      height: 400px;
      background: #16D6BC; }
    .skills__info__habilidades {
      width: 50%;
      height: 400px;
      background: #515453; }

.portafolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 20px; }
  .portafolio h1 {
    text-align: center;
    color: #515453;
    font-size: 2.5em;
    font-family: 'Righteous', cursive; }
  .portafolio__proyectos {
    width: 100%;
    margin-top: 20px;
    background: #515453;
    height: 400px; }

.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  background: #16D6BC;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .contacto h1 {
    text-align: center;
    color: #515453;
    font-size: 2.5em;
    font-family: 'Righteous', cursive; }
  .contacto__redes a {
    color: #515453;
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    margin-right: 60px;
    -webkit-transition: .7s;
    transition: .7s; }
    .contacto__redes a span {
      font-size: 2.5em; }
    .contacto__redes a:hover {
      -webkit-transition: .7s;
      transition: .7s;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      text-shadow: 2px 2px 4px #000000; }
  .contacto__copyright {
    font-family: 'Questrial', sans-serif;
    font-size: 1.2em;
    color: #515453; }
