<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Portafolio
    link(href="../css/styles.css", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Questrial|Righteous" rel="stylesheet")
    
body
   
    .cabecera
        .cabecera__parte1
            ul.cabecera__parte1__nav
                li
                    a(href="#") Sobre mi  
                li
                    a(href="#") Skills 
                li
                    a(href="#") Portafolio 
                li
                    a(href="#") Contacto 
            img(src="../images/mj_logo.png", alt="")
        .cabecera__parte2
            h2 Marco Useche
            p Desarrollador Web / Web Development